html {
    font-family: "Avenir Next", Helevetica, sans-serif;
    text-align: center;
}

body {
    margin: 0 auto;
}

h1, h2 {
    font-weight: 300;
}

img {
    width: 200px;
    height: 200px;
}

.color {
    color: #4682B4;
}